.glass-card {
    background: rgba(255, 255, 255, 0.05) !important;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.nav-pills .nav-link {
    color: #ffffff !important;
}

.admin-card {
    transition: all 0.25s ease-in-out;
}

.admin-card:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.6) !important;
}
