@import 'base.css';
@import 'layout.css';
@import 'components/tables.css';
@import 'pages/admin.css';
@import 'pages/standings.css';
@import 'pages/home.css';
@import 'pages/rezultati.css';
@import 'pages/identity.css';
@import 'pages/tournament.css';
@import "../lib/bootstrap/dist/css/bootstrap-icons/bootstrap-icons.css";
@import "../lib/jquery/dist/jquery-dataTables/jquery.dataTables.min.css";
@import "../lib/jquery/dist/responsive-dataTables/responsive.dataTables.min.css";