@model FudbalskiTurnir.ViewModels.MenadzerViewModel
@{
    ViewData["Title"] = "Novi unos";
}

<div class="admin-fade-in">
<h1>Nov unos</h1>
<h4>Menadžer</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-1">
                <label asp-for="KlubID" class="control-label">Klub</label>
                <select asp-for="KlubID" class="form-control" asp-items="ViewBag.Klub">
                    <option value="">Izaberite klub</option>
                </select>
                <span asp-validation-for="KlubID" class="text-danger"></span>
            </div>

            <div class="form-group mb-1">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" placeholder="npr. Hansi" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>

            <div class="form-group mb-1">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" placeholder="npr. Flick" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>

            <div class="form-group mb-1">
                <label asp-for="DatumRodjenja" class="control-label"></label>
                <input asp-for="DatumRodjenja" class="form-control" />
                <span asp-validation-for="DatumRodjenja" class="text-danger"></span>
            </div>

            <div class="form-group mb-1">
                <label asp-for="Nacionalnost" class="control-label"></label>
                <input asp-for="Nacionalnost" class="form-control" placeholder="npr. Nemačka" />
                <span asp-validation-for="Nacionalnost" class="text-danger"></span>
            </div>

            <div class="form-group mb-1">
                <label asp-for="GodineIskustva" class="control-label">Godine iskustva</label>
                <input asp-for="GodineIskustva" class="form-control" placeholder="npr. 5"
                       value="@(Model.GodineIskustva == 0 ? "" : Model.GodineIskustva.ToString())" />
                <span asp-validation-for="GodineIskustva" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Kreirajte" class="btn btn-success mb-1 mt-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Nazad na listu</a>
</div>

<a asp-controller="Admin" asp-action="Index" class="btn btn-dark mb-1 mt-1">Nazad na admin stranicu</a>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}