/* For register & login pages */
.identity-wrapper h2,
.identity-wrapper h4,
.identity-wrapper hr,
.identity-wrapper .col-md-offset-2 {
    display: none;
}

.identity-wrapper .col-md-6:last-child,
.identity-wrapper section[id*="external"],
.identity-wrapper h3 {
    display: none;
}

.identity-wrapper .row {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.identity-wrapper [class*="col-md-"] {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0;
}

.identity-wrapper h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 2rem;
}

.identity-wrapper p {
    text-align: center;
    margin-top: 10px;
}

.identity-wrapper a {
    color: #60a5fa;
    text-decoration: none;
}

    .identity-wrapper a:hover {
        color: white;
        text-decoration: underline;
    }

/* for forms in register, login & profile sections */
.form-control {
    background-color: #0f172a !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    color: white !important;
    border-radius: 10px !important;
    padding: 12px !important;
    margin-bottom: 2px;
}

.form-floating {
    margin-bottom: 15px !important; 
    position: relative;
}

    .form-floating > .form-control {
        padding-top: 1.625rem !important;
        padding-bottom: 0.625rem !important;
        height: 58px !important; 
    }
    .form-floating > label {
        padding-top: 0.7rem !important;
    }

.identity-wrapper .text-danger {
    display: block;
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 1rem;
    line-height: 1.2;
    padding-left: 5px;
}

/* Stilizovanje autofill polja (ako se obrise, stavi se automatski na white) 
(problem samo na Chromium browserima (Chrome, Edge..), na Firefox-u radi bez problema :)) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #0f172a inset !important;
    -webkit-text-fill-color: #ffffff !important;
    caret-color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    transition: background-color 5000s ease-in-out 0s;
}


