@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Resetovanje ključa autentifikatora";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Ako resetujete ključ autentifikatora, vaša aplikacija za autentifikaciju neće raditi dok je ponovo ne konfigurišete.</strong>
    </p>
    <p>
        Ovaj proces onemogućava 2FA dok ne verifikujete svoju aplikaciju za autentifikaciju.
        Ako ne završite konfiguraciju aplikacije, možete izgubiti pristup svom nalogu.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Resetuj ključ autentifikatora</button>
    </form>
</div>