@model FudbalskiTurnir.ViewModels.TurnirViewModel
@{
    ViewData["Title"] = "Novi unos";
}

<div class="admin-fade-in">
<h1>Nov unos</h1>
<h4>Turnir</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-1">
                <label asp-for="NazivTurnira" class="control-label"></label>
                <input asp-for="NazivTurnira" class="form-control" placeholder="npr. Liga Šampiona 2024/25" />
                <span asp-validation-for="NazivTurnira" class="text-danger"></span>
            </div>

            <div class="form-group mb-1">
                <label asp-for="Lokacija" class="control-label"></label>
                <input asp-for="Lokacija" class="form-control" placeholder="npr. Španija" />
                <span asp-validation-for="Lokacija" class="text-danger"></span>
            </div>

            <div class="form-group mb-1">
                <label asp-for="DatumPocetka" class="control-label"></label>
                <input asp-for="DatumPocetka" class="form-control" />
                <span asp-validation-for="DatumPocetka" class="text-danger"></span>
            </div>

            <div class="form-group mb-1">
                <label asp-for="DatumZavrsetka" class="control-label"></label>
                <input asp-for="DatumZavrsetka" class="form-control" />
                <span asp-validation-for="DatumZavrsetka" class="text-danger"></span>
            </div>

            <div class="form-group mb-1">
                <label asp-for="TipTurnira" class="control-label"></label>
                <input asp-for="TipTurnira" class="form-control" placeholder="npr. Profesionalni" />
                <span asp-validation-for="TipTurnira" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Kreirajte" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary mb-1 mt-1">Nazad na listu</a>
</div>

<a asp-controller="Admin" asp-action="Index" class="btn btn-dark">Nazad na admin stranicu</a>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}