@model Fudbalski_turnir.Models.Sponzor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sponzor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SponzorID" />
            <div class="form-group">
                <label asp-for="ImeSponzora" class="control-label"></label>
                <input asp-for="ImeSponzora" class="form-control" />
                <span asp-validation-for="ImeSponzora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KontaktSponzora" class="control-label"></label>
                <input asp-for="KontaktSponzora" class="form-control" />
                <span asp-validation-for="KontaktSponzora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VrednostSponzora" class="control-label"></label>
                <input asp-for="VrednostSponzora" class="form-control" />
                <span asp-validation-for="VrednostSponzora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mb-2 mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>

<a asp-controller="Admin" asp-action="Index" class="btn btn-outline-secondary mb-2 mt-2">Back to Admin Page</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
