@using FudbalskiTurnir.DAL.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav align-items-lg-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item me-lg-3">
            <a class="nav-link text-white hover-text-white d-flex align-items-center" asp-area="Identity" asp-page="/Account/Manage/Index">
                <i class="bi bi-person-circle me-2 fs-5"></i>
                <span>@User.Identity?.Name</span>
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-outline-danger btn-sm rounded-pill px-3 fw-bold">
                    @* <i class="bi bi-box-arrow-right me-1"></i> mozda dodam ikonicu*@
                        Odjavi se
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link btn btn-outline-light btn-sm rounded-pill px-3 me-lg-2 mb-2 mb-lg-0 border-opacity-25" asp-area="Identity" asp-page="/Account/Login">
                Prijava
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-primary btn-sm rounded-pill px-3 text-white fw-bold shadow-sm" asp-area="Identity" asp-page="/Account/Register">
                Registracija
            </a>
        </li>
    }
</ul>